<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- -->
	


</head>
<body>
	
	<h1>Hello Ruby On Rails</h1>
	<%= link_to 'About', about_path %>
		
</body>
</html>

